.category_container{
    display:block;
    max-width: 350px;
    height: 400px;
    margin-top:-250px;
    margin-left: 100px;
    /* margin-right: 50px; */
    float: left;
    margin-bottom:370px;
    padding:30px 30px 30px 30px;
    background-color:white;
}
h5{
    float:left;
    margin-left:12px;
    align-items: flex-start;
}
h6{
    float:left;
    margin-left:12px;
}
.image{
    max-width:300px;
    object-fit:contain;
}
.con{
    display: flex;
    flex-direction: column;
}
.linker{
    float: left;
    font-size: medium;
    align-content: flex-end;
}
