.img1{
 top:0px;
 width:100%;
 z-index: -1;
 position: relative;
}
.disc{
    background-color: white;
    top: 310px;
    padding-top: 5px;
    width: 95%;
    height: 40px;
    margin-left: 40px;
    display: block;
    position: absolute;
}
.carousel-control-next-icon{
                background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbBts-oCdZwkIxeZbNqo8Qbs00GUKQmhKzLg&usqp=CAU);  
                height:40px;
                 width: 40px;
                 right:20px;
                 top:80px;
                 position: absolute;
              }
.carousel-control-prev-icon{
                background-image : url(https://e7.pngegg.com/pngimages/737/275/png-clipart-computer-icons-arrow-icon-design-iphone-arrow-angle-triangle.png);                  
                height: 40px;
                width: 40px;
                left:20px;
                top:80px;
                position: absolute;
              }

.colori{
  background-color: #EAEDED;
  height:900px;
}