.payment_container{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    flex-direction: column;
    font-family: Arial,  sans-serif;
    width: 80%;
}
.payment_section{
    display: flex;
    margin-bottom: 5px;
    border-bottom:1px solid lightgray;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.delivery_address{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    line-height:0.5;
}
.shipping_title{
    border-bottom: 1px solid lightgray;
}